a,
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #000;
	cursor: pointer;
}

h2 {
	padding: 5px;
}

.list-item {
	list-style-type: none;
	display: flex;
}

.list-item > figure {
	position: relative;
	overflow: hidden;
}

.list-item > figure > img {
	margin: 5px;
}


.list-item > figure > a {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 0 20px 0;
	background-color: #fff;
	right: 0;
	width: 100%;
	opacity: 0;
	transition-duration: 0.1s;
	text-align: center;
}

.list-item > figure:hover > a {
	opacity: 0.8;
}